In [419]:
#importing necessary libraries
import numpy as np
import pandas as pd

In [420]:
df = pd.read_csv("Dataset/dataset.csv")
print(df.shape)
df.head()

(541909, 8)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,XxYUnited Kingdom☺️
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,ö84406B^,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,&17850.0#,XxYUnited Kingdom☺️
3,536365,84029G,$KNITTED UNION FLAG HOT WATER BOTTLE,6@,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,$RED WOOLLY HOTTIE WHITE HEART.,6@,2010-12-01 08:26:00,3.39,&17850.0#,United Kingdom

In [421]:
#Remove duplicates, Handle missing_values, standardize format
df.isnull().sum()

InvoiceNo           0
StockCode           0
Description      1025
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     108000
Country             0
dtype: int64

In [422]:
#Checking for the summary of the dataset
df.describe()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
count,541909,541909,540884,541909,541909,541909,433909,541909
unique,44726,7805,7956,1059,23260,2015,8467,76
top,573585ä,85123A,WHITE HANGING HEART T-LIGHT HOLDER,1,2011-10-31 14:41:00,1.25,&nan#,United Kingdom
freq,561,1184,1699,88742,1114,40287,27080,248303

In [423]:
df.dtypes

InvoiceNo      object
StockCode      object
Description    object
Quantity       object
InvoiceDate    object
UnitPrice      object
CustomerID     object
Country        object
dtype: object

In [424]:
#Standardizing the format
# # Function to strip non-integer characters from a string
def strip_non_integers(s):
    s = str(s)
    cleaned = ''.join(filter(str.isdigit, s))
    return np.NaN if cleaned == '' else cleaned

# Removed non-integers from the columns
df['InvoiceNo'] = df['InvoiceNo'].apply(strip_non_integers)
df['StockCode'] = df['StockCode'].apply(strip_non_integers)
#df['StockCode'].replace('', None, inplace=True)
# #Removing leading $ before every description
df['Description'] = df['Description'].apply(lambda s: str(s)[1:] if pd.notna(s) and str(s)[0] == '$' else s)
#Removing trailing @ before every quantity
df['Quantity'] = df['Quantity'].apply(lambda s: str(s)[:-1] if str(s)[-1]=='@' else str(s)).astype('int')
#Converting the InvoiceDate to a datetime 
df['InvoiceDate'] = pd.to_datetime(df['InvoiceDate'])
#Removing leading "Ww" from UnitPrice
df['UnitPrice'] = df['UnitPrice'].apply(lambda s: float(s) if str(s)[:2]!="Ww" else float(str(s[2:])))
#Removing leading & sign
df['CustomerID'] = df['CustomerID'].apply(lambda s: float(s) if str(s)[0]!='&' else float(str(s)[1:-1]))
#Removing emojis, Xx and Yy from the Country column
df['Country'] = df['Country'].apply(lambda s: str(s) if str(s)[:2]!='Xx' else str(s)[2:-1])
df['Country'] = df['Country'].apply(lambda s: str(s) if str(s)[0]!='Y' else str(s)[1:-1])

In [435]:
#Filling in missing values
#Filling in missing descriptions based on rows descriptions with the same stock code
df["Description"] = df.groupby('StockCode')['Description'].transform(lambda x: x.ffill().bfill())
#Since missing value is <30% of the dataset we can drop the
df.dropna(inplace=True)

In [436]:
#Converting columns to correct datatype
df["InvoiceNo"] = df["InvoiceNo"].astype(int)
df["StockCode"] = df["StockCode"].astype(int)
df["CustomerID"] = df["CustomerID"].astype(int)

In [437]:
df.dtypes

InvoiceNo               int32
StockCode               int32
Description            object
Quantity                int32
InvoiceDate    datetime64[ns]
UnitPrice             float64
CustomerID              int32
Country                object
dtype: object

In [441]:
#Remove duplicates
df.drop_duplicates(inplace=True)

In [442]:
print(df.shape)
df.head()

(399788, 8)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,United Kingdom
2,536365,84406,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,United Kingdom
3,536365,84029,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,United Kingdom
4,536365,84029,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom

In [443]:
#exporting data
df.to_csv('Cleaned_Ecommerce_dataset.csv')